/* Default styles */
body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.navbar {
  height: 4rem;
  display: flex;
}

.nav-items {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.nav-items li {
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: background-color 0.3s;

  &:hover {
    color: rgb(81, 81, 81);
    text-decoration: underline;
  }
}

#nav-toggle input {
  display: none;
}
@media (min-width: 601px) {
  #menu {
    display: flex;
  }
}
/* Responsive styles for smaller screens */
@media (max-width: 600px) {
  #nav-toggle {
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
  }

  #nav-toggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #nav-toggle span {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    top: 50px;
    left: 50px;
    position: relative;
    background: #333;
    border-radius: 4px;
    z-index: 1;
  }

  .nav-items {
    display: none;
    position: absolute;
    top: 50px;
    left: 100px;
    flex-direction: column;
    align-items: start;
    z-index: 1;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

/* Section styles */
section {
  padding: 20px;
  background-color: white;
  text-align: center;
  margin: 20px 0;
}

/* Footer at the bottom */
.content-container {
  flex: 1;
}

/* Footer style */
.footer {
  background-color: lightgrey;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

/* Social Media Icons styles */
.social-media {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-media a {
  color: black;
  font-size: 24px;
}

.social-media a:hover {
  color: white;
}

body {
  background-color: white;
  text-align: center;
  font-family: Open, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Container for the quiz */
.quiz-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: white;
  padding: 50px;
}

.start-quiz-button {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
}

.start-quiz-button:hover {
  background-color: #45a049;
}

/* Quiz header style */
.flag-container {
  width: 202px;
  height: 152px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#flag-image {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}


/* Question style */
.question {
  margin-bottom: 20px;
}

/* Answer buttons style */
.answer-option {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.answer-option:hover {
  background-color: #00688b;
}

/* Progress bar style */
.timer-container {
  width: 100%;
  height: 20px;
  border-radius: 6px;
  background-color: #ccc;
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
}

.timer-bar {
  width: 100%;
  height: 100%;
  background-color: #00688b;
  position: absolute;
  border-radius: 6px;
  top: 0;
  left: 0;
  transition: width 0.1s;
}


/* Final score style */
.final-score {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

/* Home page style */
.hero-image {
  background-image: url('https://flagpoles.co.uk/wp-content/uploads/2018/03/12.jpg');
  /* another picture: https://cdn11.bigcommerce.com/s-ccu2fgip1l/product_images/uploaded_images/flags-around-the-world.png*/
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  color: white;
  position: relative;
  z-index: 0;
}

.hero-image::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.to-quiz-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
}

.to-quiz-button:hover {
  background-color: #45a049;
}

.hero-image p {
  font-size: 20px;
  margin-bottom: 60px;
}

.restart-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
}

.restart-button:hover {
  background-color: #45a049;
}


/* How it works page style */
#rules-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#rules-page h1 {
  font-size: 2em;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  color: #333;
}

#rules-page p {
  margin-bottom: 20px;
  font-size: 1.1em;
  text-align: left;
}

.rules-list {
  padding-left: 20px;
  line-height: 1.6;
  text-align: left;
}

.rules-list li {
  margin-bottom: 5px;
}
